In [49]:
import pandas as pd

olympic_df = pd.read_csv(r"./athletes/bios.csv", usecols = ["Roles", "Sex", "Used name", "Born", "Died", "NOC", "athlete_id", "Measurements", "Affiliations"])
olympic_df.head()

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations
0,Competed in Olympic Games,Male,Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)"
2,Competed in Olympic Games • Administrator,Male,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)"
3,Competed in Olympic Games,Male,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)"
4,Competed in Olympic Games,Male,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)"

In [51]:
olympic_df.shape

(145500, 9)

#### Percental de valores que estão nulos em cada coluna

In [14]:
olympic_df.isna().apply(lambda x: (x.sum() / len(olympic_df)) * 100)

Roles            0.000000
Sex              0.000000
Full name        0.000000
Used name        0.000000
Born             1.187629
Died            76.603436
NOC              0.000687
athlete_id       0.000000
Measurements    25.887973
Affiliations    34.136082
dtype: float64

#### Remover caracteres especiais da coluna "Used Name"

In [53]:
#olympic_df[olympic_df["Used name"].str.contains("•")]
olympic_df["Used name"] = olympic_df["Used name"].str.replace("•", " ")
olympic_df.head()

,Roles,Sex,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations
0,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN
1,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)"
2,Competed in Olympic Games • Administrator,Male,Jean Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)"
3,Competed in Olympic Games,Male,Jacques Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)"
4,Competed in Olympic Games,Male,Albert Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)"

#### Adicionando coluna de datas para a data de nascimento e data de falecimento

In [34]:
olympic_df["BornDate"] = pd.to_datetime(olympic_df["Born"].str.split(" ").str[0:3].str.join("/"), format = '%d/%B/%Y', errors = "coerce")
olympic_df["BornYear"] = olympic_df["BornDate"].dt.year.astype("Int64")
olympic_df["BornDate"] = olympic_df["BornDate"].dt.strftime('%d/%m/%Y')
olympic_df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,BornDate,BornYear
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,12/12/1886,1886
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",01/04/1969,1969
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",13/08/1898,1898
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",11/05/1895,1895
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",17/04/1878,1878

In [48]:
olympic_df["DiedDate"] = pd.to_datetime(olympic_df["Died"].str.split(" ").str[0:3].str.join("/"), format = '%d/%B/%Y', errors = "coerce")
olympic_df["DiedYear"] = olympic_df["DiedDate"].dt.year.astype("Int64")
olympic_df["DiedDate"] = olympic_df["DiedDate"].dt.strftime('%d/%m/%Y')
olympic_df.head()

,Roles,Sex,Full name,Used name,Born,Died,NOC,athlete_id,Measurements,Affiliations,BornDate,BornYear,DiedDate,DiedYear
0,Competed in Olympic Games,Male,"François Joseph Marie Antoine ""Jean-François""•...",Jean-François•Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,1,NaN,NaN,12/12/1886,1886,02/10/1960,1960
1,Competed in Olympic Games,Male,Arnaud Benjamin•Boetsch,Arnaud•Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,2,183 cm / 76 kg,"Racing Club de France, Paris (FRA)",01/04/1969,1969,NaN,<NA>
2,Competed in Olympic Games • Administrator,Male,Jean Laurent Robert•Borotra,Jean•Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,3,183 cm / 76 kg,"TCP, Paris (FRA)",13/08/1898,1898,17/07/1994,1994
3,Competed in Olympic Games,Male,Jacques Marie Stanislas Jean•Brugnon,Jacques•Brugnon,"11 May 1895 in Paris VIIIe, Paris (FRA)","20 March 1978 in Monaco, Monaco (MON)",France,4,168 cm / 64 kg,"Sporting club de Paris, Paris (FRA)",11/05/1895,1895,20/03/1978,1978
4,Competed in Olympic Games,Male,Henry Albert•Canet,Albert•Canet,"17 April 1878 in Wandsworth, England (GBR)","25 July 1930 in Paris VIIe, Paris (FRA)",France,5,NaN,"TCP, Paris (FRA)",17/04/1878,1878,25/07/1930,1930

#### Adicionando coluna de local de nascimento

In [47]:
olympic_df["Born"].str.split(" ").str[-3:]

0                      [Bordeaux,, Gironde, (FRA)]
1                       [Meulan,, Yvelines, (FRA)]
2         [Biarritz,, Pyrénées-Atlantiques, (FRA)]
3                           [VIIIe,, Paris, (FRA)]
4                    [Wandsworth,, England, (GBR)]
                            ...
145495                 [Serov,, Sverdlovsk, (RUS)]
145496                  [(Moscow),, Moskva, (RUS)]
145497               [Kotlas,, Arkhangelsk, (RUS)]
145498                [Niort,, Deux-Sèvres, (FRA)]
145499                       [South, Wales, (AUS)]
Name: Born, Length: 145500, dtype: object